* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

#game {
    width: 1024px;
    margin: 0 auto;
}

.card-container {
    background: saddlebrown;
    border: 3px solid goldenrod;
    border-radius: 10px;
    width: 191px;
    height: 191px;
    display: inline-block;
    margin: 2rem;
    box-sizing: border-box;
}

.card-container:hover {
    background: rgba(143, 72, 21, 0.8);
    border-color: rgba(218, 165, 32, 0.79);
}

.card-container img {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    top: 20px;
}