@import url('https://fonts.googleapis.com/css?family=Yatra+One');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yatra One', cursive;
}

body {
    background-image: url("../assets/background2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

#difficulty-settings-wrapper {
    color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#difficulty-settings-wrapper h1 {
    margin-bottom: 5rem;
    padding: 2rem;
    color: goldenrod;
    border: 6px solid goldenrod;
    border-radius: 10px;
    background: url("../assets/wooden-pattern.jpg");
    background-repeat: repeat;
}

.difficultyButton {
    font-size: 1.4rem;
    width: 150px;
    height: 150px;
    padding: 1.5rem 0;
    margin-bottom: 5rem;
    color: goldenrod;
    border: 6px solid goldenrod;
    border-radius: 50%;
    background: url("../assets/wooden-pattern.jpg");
    background-repeat: repeat;
    background-position: center;
    outline: none;
}

.difficultyButton:hover {
    cursor: pointer;
    border-color: gold;
    color: gold;
}

#game {
    /*
    width: 1400px;
    display: flex;
    visibility: hidden;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10rem auto;
    position: relative;
    left: 2000px;
    bottom: 115vh;
     */
    position: relative;
    left: 2000px;
    bottom: 85vh;
    width: 50%;
    padding: 2rem;
    margin: 0 auto;
    box-sizing: border-box;
}

#timer {
    background: url("../assets/wooden-pattern.jpg");
    font-size: 1.5rem;
    color: goldenrod;
    border: 6px solid goldenrod;
    border-radius: 10px;
    position: relative;
    bottom: 30px;
    text-align: center;
    width: fit-content;
    padding: 1rem;
    margin: 0 auto;
}

#score-wrapper {
    position: relative;
    left: 4000px;
    bottom: 180vh;
    font-size: 3rem;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    color: goldenrod;
    width: 50%;
    height: 100vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#score-wrapper h1 {
    width: fit-content;
    background: url("../assets/wooden-pattern.jpg");
    padding: .8rem;
    margin-bottom: 4rem;
    border-radius: 10px;
    border: 6px solid goldenrod;
}

#pairs-found-wrapper {
    text-align: center;
}

.card {
    /*
    width: 100px;
    height: 200px;
    flex-basis: 191px;
    margin: .5rem;
    padding: 1rem;
    background: rgb(94, 47, 14);
    border: 6px solid darkgoldenrod;
    background-image: url("../assets/gemRed.png");
    background-size: cover;
    border-radius: 10px;
    background-position: center;
     */
    width: 100px;background: rgb(94, 47, 14);
    border: 6px solid darkgoldenrod;
    background-image: url("../assets/gemRed.png");
    background-size: cover;
    border-radius: 10px;
    background-position: center;
    height: 100px;
    display: inline-block;
    margin: .5rem;

}

.armor {
    background-image: url("../assets/armor.png");
}

.axe {
    background-image: url("../assets/axe.png");
}

.dagger {
    background-image: url("../assets/dagger.png");
}

.upg_shield {
    background-image: url("../assets/upg_shield.png");
}

.tome {
    background-image: url("../assets/tome.png");
}

.map {
    background-image: url("../assets/map.png");
}

.axe2 {
    background-image: url("../assets/axe2.png");
}

.axeDouble2 {
    background-image: url("../assets/axeDouble2.png");
}

.backpack {
    background-image: url("../assets/backpack.png");
}

.sword {
    background-image: url("../assets/sword.png");
}

.envelope {
    background-image: url("../assets/envelope.png");
}

.scroll {
    background-image: url("../assets/scroll.png");
}


.flipped {
    animation: flipped .2s ease-in forwards;
}

.difficultySettingsToLeft {
    animation: difficultySettingsToLeft .3s forwards;
}

.gameBoardToLeft {
    animation: gameBoardToLeft .3s forwards;
}

.gameBoardToLeftMost {
    animation: gameBoardToLeftMost .3s forwards;
}

.scoreBoardToLeft {
    animation: scoreBoardToLeft .3s forwards;
}

@keyframes flipped {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateY(-180deg);
    }
}

@keyframes difficultySettingsToLeft  {
    0% {
        left: 0;
    }
    100% {
        left: -2000px;
        visibility: hidden;
    }
}

@keyframes gameBoardToLeft  {
    0% {
        left: 2000px;
        visibility: hidden;
    }
    100% {
        left: 20px;
        visibility: visible;
    }
}

@keyframes gameBoardToLeftMost  {
    0% {
        left: 20px;
        visibility: visible;
    }
    100% {
        left: -2000px;
        visibility: hidden;
    }
}


@keyframes scoreBoardToLeft  {
    0% {
        left: 40000px;
        visibility: hidden;
    }
    100% {
        left: 0;
        visibility: visible;
    }
}






/* * * * * * * * * * *
* // WIP WIP WIP
* * * * * * * * * * */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .card {
        width: 25px;
        height: 25px;
        flex-basis: 25px;
        background: rgb(94, 47, 14);
        border: 6px solid darkgoldenrod;
        background-size: cover;
        border-radius: 10px;
        background-position: center;
    }
}